{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">
{% endblock %}
{% block content %}
  
</head>
<body>
  <section class="about">
    <h1>About Us</h1>
    <p>
       Welcome to GTJ GO! Our mission is to make travel safer, more informed, and more enjoyable for everyone.
       GTJ GO! uses gathered safety data from a database of trusted statistics on women’s safety in many countries  
GTJ GO! also utilizes APIs to get accurate and up-to-date crime information​

Once information is gathered our algorithm then formulates an all-emcompasing safety score for a country​.
However, GTJ GO! isn’t just for safety. It offers real-time information for​

Live language translations ​

Currency exchanges​

Packing guides​

Current weather and itinerary based on weather conditions​

Live transportation search and routes​

Cultural nuances, history, and facts​

Reviews from other users​
     
    </p>

    <div class="team-section">
      <h2>Meet the Team!</h2>
      <div class="team-members">
        <div class="member">
          <img src="gabi-treasurer.webp" alt="Gabi">
          <h3>Gabi Green</h3>
          <p>Frontend Developer</p>
        </div>
        <div class="member">
          <img src="Tye.jpg" alt="Tye">
          <h3>Tye Walker</h3>
          <p>Project Manager</p>
        </div>
        <div class="member">
          <img src="Jasmine.jpg" alt="Jasmine">
          <h3>Jasmine Sparks</h3>
          <p>Backend Developer</p>
        </div>
    
      </div>
    </div>
  </section>
</body>
</html>
{% endblock %}
